<%= render 'sign_out' %>

<h1><%= @post.title %></h1>
<% if current_user %>
  <% @user_post = User.find(@post.user_id).name %>
  <h2><%= " by #{@user_post}" %></h2>
<% end %>
<p><%= @post.body %></p>
